<nav>
    <div class="nav-container">
        <div class="left">
            <a href="https://www.youtube.com" target="_blank">
                <img src="/assets/images/YouTubeLogo.png" alt="YouTube Logo" class="logo">
            </a>
        </div>        
        <div class="center">
            <ul>
                <li><a routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
                <li><a routerLink="/top-videos" routerLinkActive="active-link">Top Videos in Thailand</a></li>
            </ul>
        </div>
        <div class="right">
            <p>Teerapat W.</p>
        </div>
    </div>
</nav>
