<nav>
    <div class="nav-container">
        <div class="left">
            <a routerLink="/home">
                <img src="/assets/images/YouTubeLogo.png" alt="YouTube Logo" class="logo">
            </a>            
        </div>        
        <div class="center">
            <ul>
                <li *ngIf="!isHomeRoute"><a routerLink="/top-videos" routerLinkActive="active-link">Top Videos in Thailand</a></li>
                <li *ngIf="!isHomeRoute" class="hide-on-small-screen"><a routerLink="/top-videos-worldwide" routerLinkActive="active-link">Top Videos Worldwide</a></li>
            </ul>
        </div>
        <div class="right">
        </div>
        <div class="burger-menu" (click)="toggleDropdownMenu()">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
        </div>
    </div>
</nav>
<div class="dropdown-menu" [class.show]="isDropdownMenuVisible">
    <ul>
        <li><a routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li><a routerLink="/top-videos" routerLinkActive="active-link">Top Videos in Thailand</a></li>
        <li><a routerLink="/top-videos-worldwide" routerLinkActive="active-link">Top Videos Worldwide</a></li>
    </ul>
</div>
